* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#board-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #151515;
}

#board {
    box-sizing: content-box;
    padding: 10px;
    border: 4px solid #adadad;
}

body {
    overflow: hidden;
}

.tile {
    stroke-width: 2px;
    stroke: #171716;
    cursor: pointer;
}

.tile-variant-1 {
    fill: #adadad;
}
.tile-variant-2 {
    fill: #817f7f;
}
.tile-variant-3 {
    fill: #9b9c9b;
}
.tile-variant-4 {
    fill: #96949c;
}

.passed {
    fill: #10f1f1;
}

.path {
    fill: #10f110;
}

.selected {
    fill: #f1f110;
}

.blocked {
    fill: #f11010;
}



